@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


body {
    background-color: #e4ebf5;
    font-family: "VT323";
}   
.form {
  
    margin: 3rem;
 
}
.alert  {
    height: 11.5rem;
    text-align: center;
    border: 2px solid beige;
    width: 22.5rem;
    min-width: 10rem;
    
    
    
}

.card {
    margin-top: 100rem;
}

.centered {

}
.flexbox {
    display: flex;
    justify-content: center;
}
.mb-0 {
    margin: 10px;
}

.logoText {
    margin-top: 30px;
    margin-left: 71rem;
    position: absolute;
}
.formInput {
    margin: 10px;
    margin-top: 0px;
}


.submitButton {
    margin: 1rem;
    margin-bottom: 3rem;
}

.terminal-connected {
    display: flex;
   justify-content: flex-end;
   font-family: "VT323";
   font-size: .5rem;
   color: rgba(0, 0, 0, 0.849);
   margin: 50px;
   }

   .terminal-connected {
    display: flex;
   justify-content: flex-end;
   font-family: "VT323";
   font-size: 10rem;
   color: rgb(0, 0, 0);
   width: 10px;

}
   





.centered { 
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.account {
    color: rgb(0, 76, 143);
    position: absolute; right:0; top:0;
    margin: 1rem;

}

.qrButton {
    width: 5px;
    border: 2px solid red;
}

.identicon {
    
    margin-right: 5px;
}

.qrText {
    border: 2px solid red;
    
    
}

.account:hover {
    color: rgb(92, 156, 175);
}

.btn {
    position: absolute;
}



